bcrypt==3.2.0
cffi==1.16.0
click==8.1.7
Flask==2.2.2
Flask-Cors==4.0.0
gunicorn==21.2.0
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.1
packaging==23.2
pip==23.3
protobuf==4.21.12
pycparser==2.21
PyJWT==2.4.0
PyMySQL==1.1.0
setuptools==68.0.0
six==1.16.0
Werkzeug==2.2.3
wheel==0.41.2
requests~=2.31.0
numpy~=1.26.4